<div class="partial partial_for_<%= model.singular_name %> <%%= cycle('odd', 'even') %>">
<% model.attributes_for(:index).each do |attribute| -%>
	<div class="<%= attribute.name %>_field field_value format_<%= attribute.format %>">
		<%= attribute.display(:partial) %> &nbsp;
	</div>
<% end -%>

  <%= model.make_resourceful_link_to(:destroy, :template => :partial) %>
  <%= model.make_resourceful_link_to(:edit, :template => :partial) %>
  
  <div style="clear: both"> </div>
</div>
