<%%= error_messages_for :<%= singular_name %> %>

<%% form_for <%= form_for_args %> do |f| %>
<%- for attribute in attributes_for__form -%>
	<p>
		<%%= f.label :<%= attribute.name %> %>
		<%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
	</p>
<% end -%>
	<p>
		<%%= f.submit translate_save(:<%= singular_name %>) %>
	</p>
<%% end %>