<%= model.page_title :index %>

<%% tabs_for(:<%= model.plural_name %>) do %>

  <%% placeholder_for :<%= model.plural_name %> do %>
    
    <%= model.make_resourceful_link_to(:new, :template => :index) %>

    <%= model.will_paginate %>
    
    <div class="listing" id="listing_of_<%= model.singular_name %>">
      <div id="listing_headings">
<% model.attributes_for(:index).each do |attribute| -%>
        <div class="<%= attribute.name %>_label field_label format_<%= attribute.format %>">
          <h3><%= attribute.display_name(:partial) %></h3> 
        </div>
<% end -%>
      </div>
      <%= model.render_partial("@#{model.plural_name}") %>
      
    </div>
  <%% end %>

  <%= model.will_paginate %>

  <%= model.make_resourceful_link_to(:new, :template => :index) %>

<%% end %>